@charset "UTF-8";

*{font-family: Arial, Helvetica, sans-serif;}
body{background-image: linear-gradient(to right,#D96725,#F2B988);font-size: 12px;}
    main{
       background-color: white;width: 500px;
        padding: 10px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #99491aa8;}    
   h1{color:#851f08;
         text-align: center;
         text-shadow: 1px 1px 5px #57140598;}
    h2{color: #1B3059;}
p{text-align: justify;}